# Core functionality - changes here should be rare!
/src/app.py                   @Meganraj
/src/backend/database.py      @Meganraj
/src/backend/routers/auth.py  @Meganraj

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Meganraj
